#wrap{width: 100%;height: auto;
min-height: 500px; background-color:#ccc;}

#headBox{width: 100%; height: 100px; background-color: #f69;}

#banner_first{width: 100%; height: 800px; background-color: #f90;}
.image_01{height: 100%;background-image: url("../img/ny_city.jpg")}
.image_01{background-repeat:no-repeat; 
background-size:cover;
background-attachment:scroll;}
#mid_Area{width: 100%;height: 800px; background-color: #fff; }

#banner_last{width: 100%; height: 800px; background-color:#f90;}
.image_02{height: 100%; background-image:url("../img/amazing.jpg")}
.image_02{background-repeat:no-repeat;
background-size:cover;
background-attachment:scroll;}
#foot_Area{width: 100%; height: 400px; background-color:#555;}